.storage_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.storage_block_wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.storage_block {
    display: flex;
    width: 85%;
}

.darkmode_storage_bgcolor {
    background: #081827;
}