.dashboard_chart_wrapper {
    margin: 20px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard_chart_block {
    width: 100%;
    border-top: 1px #acacac solid;
    border-left: 1px #acacac solid;
}

.dashboard_chart_mode_button_wrapper {
    display: flex;
    flex-direction: row;
}

.dashboard_chart_mode_button {
    width: 80px;
    height: 40px;
    background-color: #acacac;
    border-width: 0px;
    margin-right: 5px;
}

.dashboard_chart_cur_mode_button {
    width: 80px;
    height: 40px;
    background-color: #d7c0c0;
    border-width: 0px;
    margin-right: 5px;
}