@font-face {
    font-family: "Lato Bold";
    src: url('../../fonts/Lato-Bold.ttf');
}

.sidebar_wrapper {
    width: 15%;
    display: flex;
    align-items: flex-start;
    background-color: #242541;
    border-right-width: 2px;
    border-right-color: #242541;
    border-right-style: solid;
}

.sidebar_menu_block {
    width: 100%;
    margin: 20px;
}

.sidebar_menu_button_wrapper {
    width: 100%;
    height: 60px;
}

.sidebar_curpage_menu_button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #27979B;
    border-width: 0px
}

.sidebar_normal_menu_button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    color: white;
    border-width: 0px
}

.sidebar_menu_button_image_wrapper {
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar_menu_button_image {
    width: 40px;
    filter: invert(100%);
}

.sidebar_cur_menu_button_image {
    filter: invert(0%);
}

.sidebar_menu_title_wrapper {
    display: flex;
    font-family: "Lato Bold";
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lato';
    justify-content: center;
    align-items: center;
}